/* Main.css */
.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  /* Updated style for mobile devices */
  @media screen and (max-width: 768px) {
    .full-screen {
      height: 80%; /* Adjust the percentage to fit your needs */
    }
  }
  