/* Main.css */
.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  /* Updated style for mobile devices */
  @media screen and (max-width: 768px) {
    .full-screen {
      height: 80%; /* Adjust the percentage to fit your needs */
    }
  }

  .college-info-card {
    width: 300px;
    margin: 0 10px 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .college-info-card h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .college-info-card p {
    margin-bottom: 10px;
  }
  
  .college-info-card ul {
    margin-bottom: 10px;
    padding-left: 20px;
  }
  
  .college-info-card li {
    margin-bottom: 5px;
  }
  
  