.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
  }
  
  .logo {
    width: auto;
    height:auto;
  }
  nav {
    margin-top: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #61dafb;
  }
  
  main {
    padding: 20px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
  }
  
  input,
  select {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  select {
    width: 200px;
  }
  
  
  
  
  
  
  